<article class="hero-article">

    <div class="hero-article__bg">
        <img src=images/loader.gif data-src="images/hero.jpg" alt="..." class="b-lazy">
    </div>

    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero__title">Find a job that fits your life</h1>
            <div class="hero__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            </div>
            <div class="hero__search-component">
                <form action="" class="form-inline">
                    <div class="form-group form-group__keword">
                        <input type="text" class="form-control" placeholder="Keyword or Company">
                    </div>
                    <div class="form-group form-group__location">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                    <button type="submit" class="form-group__submit btn btn-default"><img src=images/loader.gif data-src="images/search.svg" alt="..." class="b-lazy img-responsive"></button>
                </form>
            </div>
        </div>
    </div>
</article>