<article class="hero-article">

    <div class="hero-article__bg">
        <div id="voe-er__hero-slider" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/hero.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="images/hero.jpg" alt="...">
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#voe-er__hero-slider" role="button" data-slide="prev">
                <span class="arrow-left" aria-hidden="true">
                    <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/icons/arrow-left.png" alt="..." class="b-lazy img-responsive">
                </span>
        </a>
        <a class="right carousel-control" href="#voe-er__hero-slider" role="button" data-slide="next">
                <span class="arrow-right" aria-hidden="true">
                    <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/icons/arrow-right.png" alt="..." class="b-lazy img-responsive">
                </span>
        </a>
    </div>

    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero__title">Find a job that fits your life</h1>
            <div class="hero__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            </div>
            <div class="hero__search-component">
                <form action="" class="form-inline">
                    <div class="form-group form-group__keword">
                        <input type="text" class="form-control" placeholder="Keyword or Company">
                    </div>
                    <div class="form-group form-group__location">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                    <button type="submit" class="form-group__submit btn btn-default"><img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/search.svg" alt="..." class="b-lazy img-responsive"><span> Search</span></button>
                </form>
            </div>
        </div>
    </div>
</article>