<footer id="site-footer">
    <div class="footer-wrap">
        <div class="container-fluid footer__quick-links">
            <div class="row">
                <div class="col-md-7">
                    <ul class="list-inline list__quick-link list__divider-bar">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Employer Review</a></li>
                        <li><a href="#">Employer Center</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy &amp; Cookies</a></li>
                    </ul>
                </div>
                <div class="col-md-5 contact__links">
                    <ul class="list-inline list__quick-link list__divider-bar">
                        <li><a href="mailto:info@ekomiemployerreview.com">info@ekomiemployerreview.com</a></li>
                        <li class="item__lg">Call 1-800-eKomi</li>
                    </ul>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
        </div>
        <div class="container-fluid copyright-info">
            <p>Copyright © 2008–2017, eKomi Employer Review is a registered trademark of <a href="#">eKomi</a>.</p>
        </div>
    </div>
</footer>