<nav class="navbar navbar-fixed-top site-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site__nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="images/logo.png" alt="..." class="b-lazy img-responsive">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="site__nav">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Flag</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Company Reviews</a></li>
                <li><a href="#">Salaries</a></li>
                <li><a href="#">Interviews</a></li>
                <li class="nav-item__featured"><a href="#">Write Review</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>