$text-dark: #333;
$white: #fff;
$text-placeholder: #adadad;

$default-theme: #29a00a;
$default-background: #ebebeb;


$font-size-regular: 16px;
$font-size-md: $font-size-regular + 2;
$font-size-lg: $font-size-regular + 4;
$font-size-h1: 45px;

$font-size-tab: $font-size-regular - 2;
$font-size-mobile: $font-size-regular - 5;

$border-footer: #606060;
$border-default: #e3e1e4;
$border-dark: #ccc;